In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

In [12]:
gym = pd.read_excel(r'D:\Python\python tutorials\dataGYM.xlsx')

In [13]:
gym

,Age,Height,weight,BMI,Class,Prediction,Unnamed: 6
0,48,4.1,86,40,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...,NaN
1,53,4.1,91,42,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...,NaN
2,42,4.1,95,44,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...,NaN
3,48,4.1,100,46,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...,NaN
4,22,4.1,104,48,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...,NaN
...,...,...,...,...,...,...,...
1171,50,6.9,59,14,Under weight,Under weight--protines+carbs+normal weights ->...,NaN
1172,49,6.9,64,15,Under weight,Under weight--protines+carbs+normal weights ->...,NaN
1173,52,6.9,68,16,Under weight,Under weight--protines+carbs+normal weights ->...,NaN
1174,36,6.9,73,17,Under weight,Under weight--protines+carbs+normal weights ->...,NaN
1175,26,6.9,77,18,Under weight,Under weight--protines+carbs+normal weights ->...,NaN

In [16]:
df = gym.drop('Unnamed: 6', 1)

In [17]:
df

,Age,Height,weight,BMI,Class,Prediction
0,48,4.1,86,40,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
1,53,4.1,91,42,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
2,42,4.1,95,44,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
3,48,4.1,100,46,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
4,22,4.1,104,48,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
...,...,...,...,...,...,...
1171,50,6.9,59,14,Under weight,Under weight--protines+carbs+normal weights ->...
1172,49,6.9,64,15,Under weight,Under weight--protines+carbs+normal weights ->...
1173,52,6.9,68,16,Under weight,Under weight--protines+carbs+normal weights ->...
1174,36,6.9,73,17,Under weight,Under weight--protines+carbs+normal weights ->...
1175,26,6.9,77,18,Under weight,Under weight--protines+carbs+normal weights ->...

In [18]:
df['Class'] = LabelEncoder().fit_transform(df['Class'])

In [35]:
df['Class'].value_counts()

3    281
5    248
2    232
1    212
4    199
0      4
Name: Class, dtype: int64

In [37]:
X = df.iloc[:,:3]

In [38]:
X

      Age  Height  weight
0      48     4.1      86
1      53     4.1      91
2      42     4.1      95
3      48     4.1     100
4      22     4.1     104
...   ...     ...     ...
1171   50     6.9      59
1172   49     6.9      64
1173   52     6.9      68
1174   36     6.9      73
1175   26     6.9      77

[1176 rows x 3 columns]

In [39]:
Y = df.iloc[:,5:]

In [40]:
Y

                                             Prediction
0     Extremely obese--normal exercise+yoga+heavy di...
1     Extremely obese--normal exercise+yoga+heavy di...
2     Extremely obese--normal exercise+yoga+heavy di...
3     Extremely obese--normal exercise+yoga+heavy di...
4     Extremely obese--normal exercise+yoga+heavy di...
...                                                 ...
1171  Under weight--protines+carbs+normal weights ->...
1172  Under weight--protines+carbs+normal weights ->...
1173  Under weight--protines+carbs+normal weights ->...
1174  Under weight--protines+carbs+normal weights ->...
1175  Under weight--protines+carbs+normal weights ->...

[1176 rows x 1 columns]

In [41]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)

In [42]:
model_GYM = RandomForestClassifier(n_estimators=20)
model_GYM.fit(X_train,Y_train)

<ipython-input-42-4eb241f88e16>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_GYM.fit(X_train,Y_train)

RandomForestClassifier(n_estimators=20)

In [43]:
# make predictions
expected = Y_test
predicted = model_GYM.predict(X_test)

In [44]:
#Correction
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

                                                                       precision    recall  f1-score   support

Extremely obese--normal exercise+yoga+heavy dite control+TIPS ->Obese       0.92      0.89      0.91        38
                                 Healthy--fitness+protine+simple dite       0.79      0.75      0.77        60
                      Obese--slow lean+protine+full dite ->Overweight       0.70      0.83      0.76        47
                Overweight--lean+cardio+protine+normal dite ->Healthy       0.67      0.62      0.64        45
                Under weight--protines+carbs+normal weights ->Healthy       0.93      0.89      0.91        46

                                                             accuracy                           0.79       236
                                                            macro avg       0.80      0.80      0.80       236
                                                         weighted avg       0.80      0.79      0.79       236

[[34  0  4  0  0]
 [ 0 45  3  9  3]
 [ 3  0 39  5  0]
 [ 0  7 10 28  0]
 [ 0  5  0  0 41]]

In [45]:
import pickle

pickle.dump(model_GYM, open("Model_GYM.pkl", "wb"))

model = pickle.load(open("Model_GYM.pkl", "rb"))

print(model.predict([[40,5.6,70]]))

['Healthy--fitness+protine+simple dite']